#dependencias node que sao recriadas com o npm install
note_modules/
dist/

#arquivos de log do NPM
npm-debug.log*
yarn-debug.log*

#variaveis de ambiente / senhas
.env
.env.local

#arquivos do sistema operacional
.DS_Store
Thumbs.db